//font
$font-main: "roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-sub: "kiosk", Arial, "Helvetica Neue", Helvetica, sans-serif;

$primaryColor: #fff;
$yellowColor: #ffff00;
$titleColor: #535050;
$borderColor: #efefef;
$hoverColor: #d9dfe2;
